<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="alunoA">
      <button menuClose ion-item *ngFor="let pa of pagesA" (click)="openPage(pa)">
        {{pa.title}}
      </button>
    </ion-list>
    <ion-list *ngIf="instrutorA">
      <button menuClose ion-item *ngFor="let pi of pagesI" (click)="openPage(pi)">
        {{pi.title}}
      </button>
    </ion-list>
    <ion-list *ngIf="indefinidoA">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>